<h2 mat-dialog-title>Create New Policy</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mx-5">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-full mb-5">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" placeholder="Enter ID" required>
      <mat-error *ngIf="form.get('id')?.hasError('required') && form.get('id')?.touched">ID is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-5">
      <mat-label>Permission (Json)</mat-label>
      <textarea
    matInput
    formControlName="permission"
    placeholder="Enter permission JSON"
    rows="10"
    style="height: 300px; width: 100%;"
  ></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      type="button"
      (click)="closeDialog()"
      class="text-gray-400 hover:text-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
