<nav class="bg-gray-800">
  <div class=" sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="justify-center flex-1 hidden md:flex">
        <div class="flex space-x-4">
          <!-- Use routerLink for navigation -->
          <a routerLink="/company1" (click)="changeCompany('company1')"
             [ngClass]="{'bg-gray-100 text-black': companyContext === 'company1', 'text-gray-300 hover:bg-gray-700 hover:text-white': activeCompany !== 'company1'}"
             class="px-3 py-2 text-sm font-medium rounded-md" aria-current="page">Company 1</a>
          <a routerLink="/company2" (click)="changeCompany('company2')"
             [ngClass]="{'bg-gray-100 text-black': companyContext === 'company2', 'text-gray-300 hover:bg-gray-700 hover:text-white': activeCompany !== 'company2'}"
             class="px-3 py-2 text-sm font-medium rounded-md">Company 2</a>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="flex items-center ml-4 md:ml-6">
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div>
              <button type="button" class="relative flex items-center max-w-xs text-sm bg-gray-800 rounded-full focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <a href="https://www.linkedin.com/in/avishekpathania/"><img class="w-8 h-8 rounded-full" src="https://media.licdn.com/dms/image/D4E03AQGen1J1flbDjA/profile-displayphoto-shrink_200_200/0/1712592670433?e=2147483647&v=beta&t=1vJeXVCud1BPcEb8DM63eCTAe7cauhGOCxceGo3Oafg" alt="">
                </a>
                <div class="ml-3">
                  <div class="text-base font-medium text-white leading-">Avishek Pathania</div>
                  <div class="text-sm leading-none text-gray-400 font-small">Full Stack Developer</div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex -mr-2 md:hidden">
        <!-- Mobile menu button -->
        <button type="button" class="relative inline-flex items-center justify-center p-2 text-gray-400 bg-gray-800 rounded-md hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!-- Menu open: "hidden", Menu closed: "block" -->
          <svg class="block w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!-- Menu open: "block", Menu closed: "hidden" -->
          <svg class="hidden w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>

<app-sidebar [companyContext]="companyContext"></app-sidebar>
