<div class="flex items-center justify-center mb-4">
  <button
    (click)="openDialog()"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button"
  >
    Create new Transfer
  </button>
</div>



<div class="grid grid-cols-3 gap-1 mb-4">
  <!-- Button to create new asset -->

  <!-- Total assets count -->

  <!-- Asset cards -->

  <div
    *ngIf="transfer"
    class="max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <p
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ transferStatus.id }}
    </p>

    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      State: {{ transferStatus.state }}
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Content Type: {{ transferStatus.type }}
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      destination: {{ transferStatus.assetId }}
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      destination: {{ transferStatus.destination }}
    </p>

    <button
    (click)="updateTransfer(transferStatus.id)"
      class="px-4 py-2 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-3 focus:outline-none focus:ring-blue-300"
      type="button"
    >
      refresh
    </button>
  </div>
</div>
