

<h2>
  <span class="flex mb-2 text-3xl font-extrabold tabular-nums text-slate-900 counter" >

      <span class="inline-flex mb-2 font-semibold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-indigo-300"> Total Contracts : </span>
      <span :class="{ 'counter': shown }" x-data="{ shown: false }" x-intersect="shown = true">
            {{ totalCatalog}}
      </span>
  </span>
</h2>

<div class="grid grid-cols-3 gap-1 mb-4">

  <div class="pt-5" *ngFor="let item of catalog">
    <div
      class="max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="#">
        <h6
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
        {{ item.datasetId  }}
        </h6>
      </a>

      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Asset Name: {{ item.name }}
      </p>
      <button

        class="px-4 py-2 text-sm font-medium text-center text-white bg-green-500 rounded-lg hover:bg-green-700 focus:ring-3 focus:outline-none focus:ring-blue-300"
        type="button"
      >
        Negotiate
      </button>
    </div>
  </div>
</div>
